* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
h1 h2 h3 h4 h5 h6 p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
li {
  padding-left: 0;
  margin: 0;
}
svg {
  display: block;
}
p {
  top: 0;
}
button {
  cursor: pointer;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.head-nav {
  border-bottom: 1px solid #e7e9fc;
  color: #2e2f42;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ulheader {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logow {
  color: #2e2f42;
}
.logo {
  padding: 16px 0;
  display: block;
}
.menu-tel {
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .menu-tel {
    display: none;
  }
  .navt .ulheader {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
  }
  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .address .ulheader {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: left;
    gap: 12px;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    color: #434455;
  }
  .navt {
    display: flex;
    align-items: center;
  }
  nav a:hover {
    text-decoration: none;
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tabq {
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .ulheader:hover {
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .ulheader:focus {
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tabq:hover {
    color: #404bbf;
    transition-duration: 250ms;
    width: 100%;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .tabq:focus {
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  nav a:hover {
    text-decoration: none;
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address:hover {
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address:focus {
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  #caren {
    color: #404bbf;
    position: relative;
  }
  #caren::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: -24px;
    position: absolute;
    background-color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .address .ulheader {
    font-size: 16px;
    letter-spacing: 0.02em;
    gap: 40px;
    line-height: 24px;
    flex-direction: row;
    padding: 24px 0;
  }
}

/* ================================================ mobile close ==================================================================*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  padding: 72px 16px;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.mobile-navt .mobile-tabq {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}
.mobile-address .mobile-tabq {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}
.mobile-navt {
  margin-bottom: 168px;
}

.mobile-navt .mobile-ulheader {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: left;
}
.mobile-address .mobile-ulheader {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
}

.mobile-ulheader:hover {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-ulheader:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.foyt > li:first-child > a {
  color: #404bbf;
}
.foytr > li:first-child > a {
  color: #4d5ae5;
}
.rerww .icon-ul {
  margin-top: 48px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

/* BUTTON CLOSE */
.mobile-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close:hover {
  background-color: #404bbf;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close:focus {
  background-color: #404bbf;
  border: none;
}
.btn-close-x {
  fill: #2a2a2a;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close:hover .btn-close-x {
  fill: #ffffff;
}
.mobile-close:hover .btn-close-x {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  header .mobile-menu {
    display: none;
  }
}

/* ================================================ section one ===================================================================*/
.sectionone {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: cover;
  height: 600px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .sectionone {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1-2.png);
  }
}
h1 {
  margin-left: auto;
  margin-right: auto;
}
.hhhh {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  line-height: 40px;
}

@media screen and (min-width: 768px) {
  .hhhh {
    font-size: 56px;
    line-height: 60px;
  }
}

.butt {
  font-family: "Roboto", sans-serif;
  margin-top: 72px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.butt:hover {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.butt:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .butt {
    margin-top: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .butt {
    margin-top: 48px;
  }
}
/* ================================================ section two ===================================================================*/
.sectiontwo {
  padding: 96px 16;
}
.visually-hidden {
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icon-back {
  display: none;
}
.ulmain {
  padding: 96px 0;
}
.hhhqq {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 72px;
  line-height: 40px;
}
.pppp {
  font-size: 16px;
  color: #434455;
  font-weight: 500;
  line-height: 1.5;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.pppp:hover {
  transform: translateY(0%);
}
@media screen and (min-width: 768px) {
  .lilili {
    width: 356px;
  }

  .ulmain {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1158px) {
  .lilili {
    width: 264px;
  }
  .ulmain {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
  }
  .icon-back {
    display: block;
  }
  .icon-two {
    fill: #2e2f42;
  }
  .icon-back {
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    gap: 24px;
  }
}
/* ================================================ section tree ===================================================================*/
.sectionthree {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.hhww {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 700;
  color: #2e2f42;
  margin-bottom: 72px;
}
.fotoul {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.fotoli {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  gap: 24px;
}
.fotoli:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.profile {
  padding: 32px 0;
}
.li_li {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.sectionthree .pppp {
  text-align: center;
}
.sms {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 8px;
}
.sms-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sms:hover {
  background-color: #404bbf;
}
.sms-footer:hover {
  background-color: #31d0aa;
}
.sms:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .fotoli {
    flex-basis: calc((100% - 72px) / 2);
    max-width: 264px;
  }
  .fotoul {
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .sectionthree {
    padding: 120px 0;
  }
}
/* ================================================ section four ===================================================================*/
.sectionfour {
  background-color: white;
  padding: 96px 0;
}
.ulgogo {
  display: flex;
  flex-wrap: wrap;
}
.lifour {
  max-width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lifour:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.lifour:hover .per {
  transform: translateY(0%);
}
.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  height: auto;
  position: relative;
}
.per {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.per:hover {
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0%);
}
.divfour {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.app {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .ulgogo {
    column-gap: 24px;
    row-gap: 72px;
    margin: 0;
  }
  .lifour {
    width: calc((100% - 48px) / 2);
    max-width: 360px;
  }
}

@media screen and (min-width: 1158px) {
  .sectionthree {
    padding: 120px 0;
  }
  .lifour {
    width: calc((100% - 48px) / 3);
    max-width: 360px;
  }
  .ulgogo {
    row-gap: 48px;
  }
  .sectionfour {
    padding: 120px 0;
  }
}
/* ================================================ footer ===================================================================*/
.foot {
  background-color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 96px 0;
}
.logofi {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoq {
  color: #f4f4fd;
}
.poii {
  font-weight: 400;
  color: #f4f4fd;
  font-size: 16px;
}
.footer-media .icon-ul {
  gap: 16px;
}
.mediaqq {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.5;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

footer .icon-color {
  padding: 0;
}

.sms-footer:focus {
  background-color: #31d0aa;
}
.icon-color {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.paralel {
  margin-bottom: 72px;
  max-width: 288px;
}
.footer-media {
  margin-bottom: 72px;
  padding: 40px;
}
.paralel .logofi::after {
  width: 100%;
}
.ulheader a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  fill: black;
  color: #2e2f42;
}
.profile {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #0813ec29,
    0px 1px 6px 0px #2e2f4214;
}
.icon {
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
}
.icon-tree {
  background: rgba(77, 90, 229, 1);
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .paralel {
    margin-right: 24px;
    max-width: 264px;
  }
  .logofi {
    justify-content: flex-start;
  }
  .mediaqq {
    justify-content: flex-start;
  }
  .foot .footer-media {
    padding: 0;
  }
  footer .container {
    padding-left: 108px;
  }
}
@media screen and (min-width: 1158px) {
  .foot {
    padding: 100px 0;
  }
  .paralel {
    max-width: 264px;
    margin-right: 120px;
  }
  .footer-media {
    margin-right: 80px;
  }
  footer .container {
    padding-left: 0;
  }
}
/* ================================================ footer email ===================================================================*/
input {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footer-email-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.email-footer {
  background-color: #2e2f42;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.email-footer::placeholder {
  color: #ffffff;
}
.btn-footer {
  max-width: 165px;
  height: 40px;
  padding: 8px 24px 8px 24px;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  flex-wrap: nowrap;
}

.btn-footer:hover {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.div-messege {
  padding: 16px 0;
}
.btn-footer-div {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}
.icon-tree-foot {
  margin-left: 16px;
  fill: #ffffff;
}
footer .mediaqq {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer-email-div {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
  .email-footer {
    width: 264px;
  }
  .btn-footer {
    margin-bottom: -34px;
  }
  .btn-footer-div {
    flex-direction: row; /* Горизонтальне розташування */
    justify-content: center;
    align-items: center;
  }
}
/* ================================================ modal ===================================================================*/
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  background-color: #fcfcfc;
  max-width: 288px;
  width: 288px;
  min-height: 623px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    width: 408px;
    min-height: 584px;
  }
}
.btn-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid #0000001a;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover {
  background-color: #404bbf;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:focus {
  background-color: #404bbf;
  border: none;
}
.btn-close-x {
  fill: #2a2a2a;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover .btn-close-x {
  fill: #ffffff;
}
.btn-close:hover .btn-close-x {
  fill: #ffffff;
}

.p-modal {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2e2f42;
  margin-bottom: 16px;
}
/* form */
.label-a {
  display: flex;
  flex-direction: column;
  line-height: 1.17;
  color: #8e8f99;
  display: block;
}
textarea {
  resize: none;
}
.rewer {
  display: block;
  margin-bottom: 24px;
}

.rewer .icon-tree {
  fill: #2a2a2a;
}
.inputs {
  margin-bottom: 8px;
}
input {
  width: 100%;
  height: 40px;
  top: 84px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus {
  border-color: #4d5ae5;
}
textarea {
  padding-top: 8px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 16px;
}

.icon-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus + .icon-form {
  fill: #4d5ae5;
}
.rewer .icon-form {
  fill: #f4f4fd;
  background-color: #404bbf;
}

.footer-form-div {
  position: relative;
}
.label-b {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
}
.footer-a {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: left;
  text-decoration: underline;
}
.send-btn {
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  height: 56px;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-priv .span-modal {
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: transparent;
}

.icon-form-ok {
  fill: #f4f4fd;
}
label {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #757575;
  margin-bottom: 4px;
}
.a-form {
  color: #4d5ae5;
  text-decoration: underline;
}

.for-input:checked + .label-priv > .span-modal {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.textarea-com {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-com:focus {
  border-color: #4d5ae5;
}
.label-priv {
  line-height: 1.17;
  color: #8e8f99;
  flex-direction: row;
  gap: 8px;
}
.inputs-coment {
  margin-bottom: 16px;
}
