body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #2e2f42;
  position: relative;
  color: #404bbf;
}
h1 h2 h3 h4 h5 h6 p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
}
li {
  padding-left: 0;
  margin: 0;
}
svg {
  display: block;
}

.head-nav {
  border-bottom: 1px solid #e7e9fc;
}
.div-main {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.navt {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  margin-right: 76px;
}

header {
  color: #2e2f42;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

nav a:hover {
  text-decoration: none;
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ulheader {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  gap: 40px;
}

.tabq {
  padding: 24px 0;
  display: block;
  cursor: pointer;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ulheader:hover {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ulheader:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
nav .tabq {
  color: #2e2f42;
}

.tab:hover {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tabq:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logow {
  color: #2e2f42;
}
.lilili {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: calc((100% - 72px) / 4);
}

.address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address:hover {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* main*/

.sectionone {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: cover;
  height: 600px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin-left: auto;
  margin-right: auto;
}
.hhhh {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.butt {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.butt:hover {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.butt:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sectiontwo {
  padding: 120px 0;
}

.visually-hidden {
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.lilili {
  flex-basis: calc((100% - 72px) / 4);
}

.ulmain {
  text-align: left;
  display: flex;
  gap: 24px;
}

.hhhqq {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.profile p {
  text-align: center;
}

.pppp {
  font-size: 16px;
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.sectionthree {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.hhww {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.li_li {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.qppp {
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
  color: #434455;
}

.fotoul {
  background-color: #ffffff;
  display: flex;
  gap: 24px;
}

.fotoli {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.profile {
  padding: 32px 0;
}
.sectionfour {
  background-color: white;
  padding-top: 120px;
  padding-bottom: 120px;
}
.ulgogo {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.lifour {
  width: calc((100% - 48px) / 3);
}
.divfour {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.app {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.foot {
  background-color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 100px 0;
}

.poii {
  font-weight: 400;
  color: #f4f4fd;
  font-size: 16px;
  max-width: 264px;
}
header div {
  display: flex;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.logofi {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logow {
  color: #2e2f42;
}

.logoq {
  color: #f4f4fd;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.icon {
  fill: black;
  color: #2e2f42;
}

.profile {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #0813ec29,
    0px 1px 6px 0px #2e2f4214;
}
.icon {
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
}
.ulmain {
  padding: 0;
  margin: 0;
  list-style: none;
}
.icon-two {
  fill: #2e2f42;
}
.icon-back {
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.icon-tree {
  height: 16px;
  width: 16px;
  background: rgba(77, 90, 229, 1);
  fill: #f4f4fd;
}

.icon-ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h6 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 1);
  margin-top: 0;
  margin-bottom: 16px;
}
footer .container {
  display: flex;
  flex-direction: row;
}
footer .icon-color {
  padding: 0;
}
.footer-media {
  padding-left: 120px;
}
.tabq {
  line-height: 1.333;
  letter-spacing: 3px;
}

.tabq::after {
  content: "";
  width: 100%;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  width: 0;
  transition: width 0.3s ease;
  position: absolute;
  background-color: #404bbf;
}
.tabq:hover::after {
  width: 100%;
}

.image-container {
  position: relative;
}

.image-container img {
  max-width: 100%;
  height: auto;
  position: relative;
}

.image-container::after {
  content: "14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App"; /* Ваше повідомлення */
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -250px;
  left: 50%;
  transform: translateX(-50%);
  background: #4d5ae5;
  color: white;
  padding: 40px 32px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.image-container:hover::after {
  opacity: 1;
  bottom: 0px;
}
.icon-ul {
  fill: #f4f4fd;
}
.sms {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.sms:hover {
  background-color: #404bbf;
}

.sms:focus {
  background-color: #404bbf;
}
