body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    border-bottom: 1px solid #e7e9fc;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #2e2f42;
}

ul {
    list-style-type: none;
  
}

nav {
   
}

header {
    color: #2e2f42;
    background-color: #e7e9fc;
    position: relative;
}

nav a:hover {
    text-decoration: none;
    color: #404bbf;
}


.ulheader {
    margin-left: 76px;
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
}

.tab {
    cursor: pointer;
    position: relative;
    padding-bottom: 20px;
}

.tab.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #404bbf;
}

.tab:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: blue;
}

.logo {
    margin-left: 156px;
    margin-top: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.27px;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
.logo3 {
    color: #2e2f42;
}
 .address{
    font-style: normal;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: #434455;
 }
 .address:hover{
    color: #404bbf;
 }

/* main*/
.sectionone {
    background-color: #2e2f42;
    margin-top: -48px;
    padding-top: 188px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
}



.hhhh {
    margin-left: 472px;
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.07px;
    text-align: center;
    letter-spacing: 0.02em;
}

.butt {
    font-family: "Roboto", sans-serif;
    line-height: 1.5px;
    letter-spacing: 0.04em;
    margin-left: 636px;
    margin-top: 48px;
    cursor: pointer;
    background-color: rgba(77, 90, 229, 1);
    color: #ffffff;
    border: none;
    border-left: 32px;
    border-right: 32px;
    border-top: 16px;
    font-size: 16px;
    font-weight: 500;
}

.butt:hover {
    background-color: #404BBF;
}

.hhww {
    margin-top: 240px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.h_hq{
    text-align: center;
    line-height: 1.2px;
    letter-spacing: 0.02em;
}
.lilili{
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
}
.ulmain {
    text-align: left;
    margin-left: 156px;
}

.hhhqq {
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.2px;
    letter-spacing: 0.02em;

}

.pppp {
    font-size: 16px;
    color: #434455;
    font-weight: 400;

}

.sectionthree {
    background-color: #f4f4fd;
}
.li_li{
    background-color: #FFFFFF;
}
.fotoul {
    margin-left: 156px;
    margin-top: 72px;
}

.fotoul h3 {
    color: #2e2f42;
}

.fotoul p {
    color: #434455;
}

.sectionfour {
    background-color: white;
    margin-top: 120px;
    margin-left: 156px;
}
.hhwwe{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    
}

.ulgogo {
    flex-wrap: wrap;
    margin-top: 72px;
}

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
}

footer p {
    font-weight: 400;
    color: #f4f4fd;
    font-size: 16px;
    margin-left: 156px;
    margin-top: 16px;
}

.logofi {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 156px;
    line-height: 1.17px;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.logo1 {
    color: #4d5ae5;
}

.logo2 {
    color: #f4f4fd;
}

